@{
    ViewData["Title"] = "Home Page";
}

<div class="hero">
    <div class="card-dark text-center">
        <h1 class="display-4">Welcome</h1>

        <p>
            Learn about Safaeat at
            <a href="https://www.linkedin.com/in/safaeat-molla-07660525a/" target="_blank">
                LinkedIn and make a connection
            </a>.
        </p>
    </div>
</div>